@import "~react-toolbox/lib/commons";

.input {
  &.has-value > ul {
    margin-bottom: 0.5 * $unit;
  }

  input {
    transition-timing-function: $animation-curve-default;
    transition-duration: $animation-duration;
    transition-property: margin-top;
  }

  &.has-value:not(.multiple) input,
  input:focus {
    margin-top: 2 * $unit;
  }
}
