@import "../common";

@import "~react-toolbox/lib/commons";

@font-face {
  font-family: 'Lemons Can Fly';
  src: url(/static/fonts/lemons-can-fly.woff2) format('woff2'),
       url(/static/fonts/lemons-can-fly.woff) format('woff'),
       url(/static/fonts/lemons-can-fly.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(/static/images/black-thread.png);
  line-height: normal;
}

.cards {
  background-color: $color-background;
  background-image: url(/static/images/grid-bg.jpg);
  background-blend-mode: multiply;
  padding: 2 * $unit $padding-content-horizontal;
  display: flex;
  align-items: flex-start;
  [data-react-toolbox="card"] {
    position: relative;
    overflow: visible;
    &:first-child {
      margin-right: 1.85 * $unit;
    }
  }
}
