@import "../common";

@import "~react-toolbox/lib/commons";

@font-face {
  font-family: 'Lemons Can Fly';
  src: url(/fonts/lemons-can-fly.woff2);
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $color-background;
  background-image: url(/images/grid-bg.jpg);
  background-blend-mode: multiply;
  line-height: normal;
}

.card-content {
  padding: 2 * $unit $padding-content-horizontal;
  display: flex;
  align-items: flex-start;
  [data-react-toolbox="card"] {
    overflow: visible;
  }
  .card-column {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    &:first-child {
      margin-right: 1.85 * $unit;
    }
  }
}
