$color-primary: #2BABEE !default;
$color-primary-dark: #395761 !default;
$color-accent: #EB3682 !default;
$color-accent-dark: #EB3682 !default;
$color-background: #F4F5F6 !default;
$secondary-text-opacity: 0.7;

$unit: 1rem !default;

/* Tiny input fields, use with Input.scss */
$input-padding: 0 !default;
$input-field-padding: 0 !default;
$input-focus-label-top: -2 * $unit !default;

/* Tiny chips */
$chip-scale: 0.75 * $unit;
$chip-remove-increase: 0 * $unit;

$chip-height: 3.2 * $chip-scale !default;
$chip-padding: 1.2 * $chip-scale !default;
$chip-remove-margin: 0.4 * $chip-scale - $chip-remove-increase / 2 !default;
$chip-remove-size: 2.4 * $chip-scale + $chip-remove-increase !default;
