@import "../common";

.content {
  [data-react-toolbox="navigation"] {
    text-align: center;
    padding: $unit $padding-content-horizontal;
    [data-react-toolbox="link"] {
      color: $color-primary-contrast;
      font-family: 'Lemons Can Fly';
      font-size: 3.2 * $unit;
      line-height: 0.77;
      &:not(:first-of-type) {
        margin-left: 3 * $unit;
      }
    }
  }
}
