@import "../common";

.content {
  height: 4.7 * $unit;
  [data-react-toolbox="navigation"] {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index-higher;
    padding: $unit $padding-content-horizontal;
    background-color: $color-primary-dark;
    [data-react-toolbox="link"] {
      color: $color-primary-contrast;
      &:not(:first-of-type) {
        margin-left: $unit;
      }
    }
  }
}
